<header>
  <nav class="bg-white border-b shadow-sm mb-3">
    <div class="container mx-auto flex justify-between items-center px-4">
      <p class="text-xl mr-2"><a href="http://localhost:5000">UrlShortener</a></p>
      <div class="flex-grow md:flex md:items-center">
        <ul class="flex flex-col md:flex-row gap-4 md:gap-6 p-4">
          <li>
            <a href="http://localhost:5000" class="text-gray-800">
              Home
            </a>
          </li>
          <li>
            <a href="http://localhost:5000/About" class="text-gray-800">
              About
            </a>
          </li>
          <li>
            <a href="http://localhost:5000/Account/Login" class="text-gray-800">
              Account
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
